rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /customers/{user_id} {
      allow create: if !exists(/databases/$(database)/documents/customers/$(request.auth.uid));
      allow read, write: if resource.data.userId == request.auth.uid;
    }

    match /keyStore/{key_hash} {
    	allow read, write: if request.auth != null && resource.data.user_id == request.auth.uid
    }
  }
}
